/* Definir os estilos das divs específicas, index.css terá os estilos globais */
.main_content {
  width: 50vw;
  height: 80vh;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border-bottom-right-radius: 140px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input_container {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 15px;
}

.input_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  gap: 6px;
}

.input_box label {
  color: hsl(0, 1%, 44%);
  font-size: 0.8vw;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.input_box input {
  width: 85%;
  padding: 15px;
  padding-left: 1.5vw;
  border: 2px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  color: hsl(0, 0%, 8%);
  font-weight: 800;
  font-size: 2vw;
}

.input_box input::placeholder {
  color: hsl(0, 1%, 44%);
}

.input_box input:focus, .input_box input:hover, .input_box input:active {
  border-color: hsl(259, 100%, 65%);
  color: hsl(0, 0%, 8%);
}

.error_message_container {
  height: 1.2em;
  white-space: nowrap; 
}

.error_message {
  color: hsl(0, 100%, 67%);
  font-weight: 400; 
  font-style: italic;
  font-size: 0.85vw; 
}

.input_box.error label,
.input_box.error input {
  color: hsl(0, 100%, 67%);
  border-color: hsl(0, 100%, 67%);
}

.submit_container {
  margin-top: 2vw;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.submit_container .line {
  border: none;
  background-color: hsl(0, 0%, 86%);
  height: 2px;
  width: 100%;
}

.submit_button {
  position: absolute; 
  right: 0; 
  padding: 1.5vw;
  background-color: hsl(259, 100%, 65%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.submit_button:hover {
  background-color: black;
}

.output_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 30px;
}

.output_container span {
  width: 100%;
  font-style: italic;
  font-weight: 800;
  font-size: 7vw; 
  line-height: 0.8em; 
  white-space: nowrap;
}

.output_container .output {
  color: hsl(259, 100%, 65%);
  font-weight: 800;
}
